/*Normalización*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Estilos Comunes*/

a{
    text-decoration: none;
    color: white;
}


/*Main---------------------------------------------*/
main{
    width: 100%;
    display: flex;
    margin-top: 125px;
}
.margin-left{
    width: 5%;
    background-color: #050A30;
}
.margin-right{
    background-color: #050A30;
    width: 5%;
}
.principal{
    display: flex;
    flex-direction: column;
    width: 90%;
    background-color: white;
}
.containerper{
    margin: auto;
    margin-top: 30px;
    margin-bottom: 20px;
    border: solid 2px #050A30;
    width: 70%;
    padding: 10px;
}
.perfil{
    text-align: left;
    margin-bottom: 20px;
}
h4{
    font-weight: bold;
}
.title-image{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.titleFoto{
    width: 40%;
    text-align: left;
}
.img{
    width: 60%;
    margin-bottom: 20px;
    margin: auto;
    text-align: center;
}
.img img{
    width: 90%;
    object-fit: contain;
}
.informacion{
    border-top: solid #050A30 2px;
    margin-top: 10px;
    padding-top: 10px;
    font-size: 15px;
    line-height: 20px;
    font-weight: bold;
}
.datos{
    margin: 10px 30px;
    font-size: 12px;
}
.botones{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.buttonEditar{
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
}
.buttonEditar input{
    width: 30%;
    border-radius: 10px;
    background-color: #050A30;
    color: white;
    font-size: 14px;    
    padding: 5px;
    margin: 15px 0px;
}
.buttonEditar button{
    width: 30%;
    border-radius: 10px;
    background-color: #050A30;
    color: white;
    font-size: 14px;    
    padding: 5px;
    margin: 15px 0px;
}
.picture{
    display: flex;
    justify-content: center;
}


/*@media*/

@media (min-width: 426px){
    .containerper{
        width: 60%;
        padding: 10px;
    }
    .img img{
        width: 90%;
        height: 140px;
    }
}
@media (min-width: 769px){
    .principal{
        flex-direction: row;
        align-items: center;
        padding: 0px 20px;
    }
    .img img{
        width: 90%;
        height: 210px;
    }
    .containerper{
        width: 60%;
    }
    .picture{
        width: 40%;
        display: flex;
    }
    .picture img{
        width: 90%;
    }
}
@media (min-width: 1025px){
    .containerper{
        width: 50%;
    }
    .img img{
        width: 90%;
    }
    .picture img{
        width: 70%;
        object-fit: cover;
    }
}